    body {
      margin: 0;
      font-family: "Arial Black", Arial, sans-serif;
      background-color: #54caf5;
    }

    .sticky-header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #8a95ed;
      padding: 10px 0;
      text-align: center;
      color: #fff;
      z-index: 1000; /* Ensure it's above other content */
      box-shadow: 0 10px 4px rgba(0, 0, 0, 0.2); /* Add shadow effect */
    }

    .small-image {
      width: 50px; /* Adjust the width as needed */
      height: auto; /* Maintain aspect ratio */
      margin-right: 200px; /* Add some spacing between the small image and the logo */
  }

  .header-logo {
    width: 350px; /* Fixed width for the logo */
    height: auto; /* Maintain aspect ratio */
    margin-right: auto; /* Pushes the logo to the left, centering it */
    margin-left: 10px; /* Add some spacing between the small image and the logo */
  }
  

    .grid-container {
      display: grid;
      gap: 0px; /* Gap between grid items */
      padding-top: 120px; /* Adjust according to the height of your header */
    }

    .grid-container2 {
      display: grid;
      gap: 0px; /* Gap between grid items */
      padding-top: 0px; /* Adjust according to the height of your header */
    }

    .grid-item {
      /* Style each grid item as needed */
      padding: 0px;
      padding-top: 0px;
      text-align: center;
      border: 0px solid #000; /* USE TO SEE GRID */
    }

    img {
      transition: transform 0.3s ease; /* Smooth transition effect */
      max-width: 70%; /* Ensure images don't exceed their container */
      max-height: 100%; /* Ensure images don't exceed their container */
    }

    img:hover {
      transform: scale(1.1); /* Scale the image to 110% on hover */
    }

    .sticky-footer {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #ffffff;
      padding: 5px 0;
      text-align: center;
      color: #fff;
      z-index: 1000; /* Ensure it's above other content */
    }

    .email-input button {
      padding: 3px 5px;
      border: none;
      border-radius: 5px;
      background-color: #54caf5;
      color: #fff;
      cursor: pointer;
      font-family: "Arial Black", Arial, sans-serif;
    }

    


    

    @media screen and (max-width: 600px) {
      .grid-container {
        grid-template-columns: repeat(1, 1fr); /* One column */
        padding-bottom: 50px;
        
      }
      .grid-container2 {
        grid-template-columns: repeat(1, 1fr); /* One column */
        padding-bottom: 0px;
        
      }
      
    }

    @media screen and (min-width: 601px) and (max-width: 900px) {
      .grid-container {
        grid-template-columns: repeat(2, 1fr); /* Two columns */
      }
    }

    @media screen and (min-width: 901px) {
      .grid-container {
        grid-template-columns: repeat(3, 1fr); /* Three columns */
      }
    }