    body {
      margin: 0;
      font-family: "Arial";
      font-weight: bold;
      background-color: #54caf5;
    }

    .sticky-header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #8a95ed;
      padding: 10px 0;
      text-align: center;
      color: #fff;
      z-index: 1000; 
      box-shadow: 0 10px 4px rgba(0, 0, 0, 0.2); 
    }

    .header-logo {
      width: 350px; 
      height: auto; 
    }

    img {
      transition: transform 0.3s ease; 
      max-width: 70%; 
      max-height: 100%; 
    }

    img:hover {
      transform: scale(1.1);
    }

    .grid-item img {
      max-width: 300px;
      width: auto;
      height: auto;
      display: block; /* Ensures images behave as blocks */
      margin: auto; /* Centers the images horizontally and vertically */
    }

    .grid-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto auto;
      gap: 10px; 
      padding-top: 140px; 
      border: 0px solid #000; /* USE TO SEE GRID */
    }
    
    .grid-item {
      border: 0px solid #000; /* USE TO SEE GRID */
    }

    .main-content {
      grid-column: 2; /* Place the main content in the second column */
    }
    


    .grey_tool {
      color: #909090;
      font-size: 30px;
    }
    
    .white_title {
      color: #ffffff;
      font-size: 30px;
    }
    
    .grey_ourtake {
      color: #909090;
      font-size: 24px;
    }

    .grey_ourtakewrite {
      color: #909090;
      font-size: 20px;
      font-family: "Arial";
      font-weight: bold;
    }

    .white_credits {
      color: #ffffff;
      font-size: 30px;
      text-align: center;
    }

    .grey_speakers {
      color: #d2d2d2;
      font-size: 24px;
    }

    .grey_speakerswrite {
      color: #d2d2d2;
      font-size: 24px;
      font-family: "Arial";
      font-weight: lighter;
    }

    .blue_link {
      color: #aab4ff;
      font-size: 24px;
      font-family: "Arial";
      font-weight: bold;
    }

    a {
      color: #bdc5fd;
    }

    .credits_box {
      text-align: center;
    }

    


    .grid-item:nth-child(6) {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #9c9b9b; /* Grey background */
      border-radius: 10px; /* Rounded corners */
      border: 5px solid #ffffff; /* White border */
    }
    
    .grey_credits {
      padding: 0px; /* Adjust padding as needed */
    }
    
    .centered_title {
      text-align: center;
  }





    @media screen and (max-width: 600px) {
      .grid-container {
        grid-template-columns: repeat(1, 1fr); /* One column */
      }

      .video-container {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 aspect ratio */
        height: 0;
        overflow: hidden;
      }
      
      .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .grid-container {
        padding-top: 85px; 
      }
    }

    @media screen and (min-width: 601px) and (max-width: 900px) {
      .grid-container {
        grid-template-columns: repeat(2, 1fr); /* Two columns */
      }
      .video-container {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 aspect ratio */
        height: 0;
        overflow: hidden;
      }
      
      .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    @media screen and (min-width: 901px) {
      .grid-container {
        grid-template-columns: repeat(3, 1fr); /* Three columns */
      }
    }  